<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />

    <!-- Icon -->
    <!-- <link rel="shortcut icon" href="./asset/Logo/chablur.png" type="image/x-icon" /> -->
    <!-- Fonts Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/contack.css" />
    <!-- Fonts Awesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <a class="navbar-brand" alt="" width="70">DIGLIBRARY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link mx-1" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/daftar">Daftar Buku</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active mx-2" href="/Kontak">Contact Us</a>
            </li>
          </ul>
          <a class="btn btn-primary mx-3" href="/login" type="submit">SIGN IN</a>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
    <!-- Awal -->
    <div class="container">
      <header>
        <h1>Contact Us</h1>
        <p>Hallo selamat datang di Diglibrary, jika anda memiliki permasalahan bisa hubungi kami, pada Kontak dibawah ini</p>
      </header>
      <div class="content">
        <div class="content-form">
          <section>
            <div class="box">
              <div class="icon"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></div>
              <h2>address</h2>
            </div>
            <p>
              Lumajang <br />
              Kecamatan Sukodono<br />
              Desa Dawuhan Lor
            </p>
          </section>
          <section>
            <div class="box">
              <div class="icon"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></div>
              <h2>Phone</h2>
            </div>
            <p>089-804-544-05</p>
          </section>
          <section>
            <div class="box">
              <div class="icon"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></div>
              <h2>E-mail</h2>
            </div>
            <p>vramadhan851@gmail.com</p>
          </section>
        </div>
      </div>
    </div>
    <!-- Awal -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="/static/js/dasboard.js"></script>
  </body>
</html>
