<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="back" content="0;url=/dasboard" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <!-- Icon -->
    <!-- <link rel="shortcut icon" href="./asset/Logo/chablur.png" type="image/x-icon" /> -->
    <!-- Fonts Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/das.css" />
    <!-- Fonts Awesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- <div class="container"> -->
      <aside class="sidebar">
        <div class="header">
          <div class="list-item">
            <a href="#">
              <div class="main-content">
                <div id="menu-button">
                  <input type="checkbox" id="menu-checkbox" />
                  <label for="menu-checkbox" id="menu-label">
                    <div id="hamburger"></div>
                  </label>
                </div>
              </div>
              <span class="desc-header">DIGLIBRARY</span>
            </a>
          </div>
          <div class="illustration">
            <img src="/static/image/bukuv.png" alt="" />
          </div>
        </div>
        <div class="main">
          <div class="list-item">
            <a href="/dasboard">
              <img src="/static/image/b3.png" alt="" class="icon" />
              <span class="description">Dasboard</span>
            </a>
          </div>
        </div>
        
        <div class="main">
          <div class="list-item">
            <a href="/book">
              <img src="/static/image/b5.png" alt="" class="icon" />
              <span class="description">List Book</span>
            </a>
          </div>
        </div>
        <div class="main">
          <div class="list-item">
            <a href="/request">
              <img src="/static/image/b1.png" alt="" class="icon" />
              <span class="description">Request Book</span>
            </a>
          </div>
        </div>
        <!-- <div class="main">
          <div class="list-item">
            <a href="#">
              <img src="/static/image/b4.png" alt="" class="icon" />
              <span class="description">History</span>
            </a>
          </div>
        </div> -->
        <div class="profile">
          <div class="profile-content">
            <a href="/profile">
              <img src="/static/image/profile.png" alt="" class="icon" />
            </a>
          </div>
          <div class="name-job">
            <div class="profile-name">{{.User}}</div>
            <div class="status" >user</div>
          </div>
          <i class="bx bx-brightness-half bx-spin bx-rotate-90"></i>
        </div>
      </aside>
      <div class="navBar">
        <div class="toggle-sidebar">
          <div class="text"></div>
        </div>
        <div class="menu-bar">DASBOARD</div>
       
          <form  id="form">
            <input type="text" id="searchInput" placeholder="Search books..." />
            <button type="submit" id="basic-addon2" class="btn-search">Search</button>
          </form>
          <form action="/logout" method="post">
            <button class="btn btn-danger" style="cursor: pointer" type="submit"> Logout</button>
          </form>
       
      </div>
      <div class="book-container">
        {{ range .Books }}
        <div class="book-card">
          {{ if eq .CoverID 0 }}
          <img src="/static/image/noimage.png" alt="Alternate Image" />
          {{ else }}
          <img src="https://covers.openlibrary.org/b/id/{{ .CoverID }}-M.jpg" alt="Book Cover" />
          {{ end }}
          <h4>{{ .Title }}</h4>
          <p>Author: {{ if .AuthorName }}{{ index .AuthorName 0 }}{{ else }}No Author Name Found{{ end }}</p>
          <p>First Published: {{ if .FirstPublishYear }}{{ .FirstPublishYear }}{{ else }}No Publish Year Found{{ end }}</p>
          <p>Publisher: {{ if .Publisher }}{{ index .Publisher 0 }}{{ else }}No Publisher Found{{ end }}</p>
          <!-- <a href="/book/read/{{ .ID }}" class="btn-read" style="cursor: pointer">Read</a>
          <a href="#" class="btn-save" onclick="SaveBook('{{ .Title }}')" data-title="{{ .Title }}" style="cursor: pointer">Save</a> -->
        </div>
        {{ end }}
      </div>
    </div>
    <!-- Alert start -->
    <div class="alert alert-danger d-flex align-items-center d-none " style="margin-top: 200px; margin-left: 300px; margin-right: 150px;" role="alert" id="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
      <div class="fs-3">Search input cannot be empty!</div>
    </div>

    <!--Warning start  -->
    <div class="alert alert-warning d-flex align-items-center d-none" role="alert" id="warning">
      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
      <div id="warningDiv" class="fs-3"></div>
    </div>

    <!-- Server error showing -->
    <div class="alert alert-warning d-flex align-items-center d-none" role="alert" id="serverError">
      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" role="img" aria-label="Warning:">
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
      <div id="warningDiv" class="fs-1">Internal Server Error, Check your internet connection!</div>
    </div>
    <div class="row justify-content-center d-flex align-items-stretch g-3 d-none" id="booksContainer"></div>
  </div>
  <div class="row justify-content-center mt-5 d-none g-0" id="spinner">
    <div class="spinner-border text-light" role="status">
      <span class="visually-hidden"></span>
    </div>
  </div>
  <div class="row my-3 d-none g-0 justify-content-center" id="loadMoreContainer">
    <div class="col-md-3 d-flex justify-content-center">
      <button class="btn shadow-lg" id="loadMoreBtn">Load More</button>
    </div>
  </div>
    <script src="/static/js/dasboard.js"></script>
  </body>
</html>
